<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Game_node</title>
		
		<!-- JQuery -->
		<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="js/bootstrap.js"></script>

		<!-- bootstrap - link cdn -->
	    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> --> 	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-grid.css" rel="stylesheet">

		<script>
			$(document).ready(function(){
                
        
				$('#btn-cancelar-publicacao').click(function(){
					$('#container_timeline').show();
					$('#container_form').hide();
					return false;
				});
                
                $('#btn-salvar').click(function(){
                    // criar um formData
                    var formData = new FormData(); 
                    var arquivo = document.getElementById("arquivo").files[0]; 
                    var name = document.getElementById("name").value; 
                    var damage = document.getElementById("damage").value; 
                    var defence = document.getElementById("defence").value; 
                    var hp = document.getElementById("hp").value; 
                    
                    formData.append("arquivo",arquivo);
                    formData.append("name",name);
                    formData.append("damage",damage);
                    formData.append("defence",defence);
                    formData.append("hp",hp);
                    
                    // criar um xmlhttprequest
                    var xhr = new XMLHttpRequest();
                    
                    // verificar as mudanças de estado
                    xhr.onreadystatechange = function(){
                       if(xhr.readyState == 4 ) {
                           var resposta = xhr.responseText; 
                           document.getElementById('mensagem').innerHTML = resposta;
                       }
                    }
                    
                    // fazer o envio do nosso request
                    xhr.open("POST", "http://localhost:8080/api");
                    xhr.send(formData);
                })
			});
		</script>
	</head>

	<body class="body">


<!-- Nav -->
      <div  class="row mt-2">
          <div class="col-12">
               <nav class="navbar navbar-dark navbar-expand-lg border-style">
                   <a href="#" class="">
                       <img id="logo" src="../_imagens/logo.png" alt="" class="">
                   </a>
                   <h5 class="text-light">Game_node</h5>
                   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav1">
                       <span class="navbar-toggler-icon"></span>
                   </button> 
                   <div class="collapse navbar-collapse justify-content-between" id="nav1" >
                       <ul class="navbar-nav">
                          <li class="nav-item">
                              <a href="/home" class="nav-link active">Champions</a>
                          </li>
                          <li class="nav-item">
                              <a href="/cadastro" class="nav-link">Cadastro</a>
                          </li>

                       </ul>
 
                   </div>
               </nav>
          </div>
      </div>

  <!-- Cadastro de champions -->      
      <div class="container " id="cadChampion">
          <div class="container col-6 " style="display" id="container_form">
              <div class="card card-header mt-2">

                  <div class="panel-heading"><h4 class="text-light">Adicionar novo Champion</h4></div>
			
                  <div class="card-body">
                      <div class="form-group">
                          <input type="text" name="name" id="name" class="form-control" placeholder="Nome" autocomplete="off">
                      </div>
                      <div class="form-group">
                          <input type="number" name="damage" id="damage" class="form-control" placeholder="Damage" autocomplete="off">
                      </div>
                      <div class="form-group">
                          <input type="number" name="defence" id="defence" class="form-control" placeholder="Defence" autocomplete="off">
                      </div>
                      <div class="form-group">
                          <input type="number" name="hp" id="hp" class="form-control" placeholder="Hp" autocomplete="off">
                      </div>

                      <div class="custom-file">
                          <input type="file" class="custom-file-input" id="arquivo" required>
                          <label class="custom-file-label" for="validatedCustomFile">Escolha a imagem do Personagem</label>
                      </div>
                      <div class="form-group mt-3">
                          <button class="btn btn-outline-success" id="btn-salvar">Salvar</button>
                          <button class="btn btn-outline-danger" id="btn-cancelar-publicacao">Cancelar</button>
                      </div>

                      <div id="mensagem" class="bg-light"></div>
                  </div>
              </div>
          </div>
        </div>
    </body>
</html>