<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Instagram Clone - WEB</title>
		
		<!-- JQuery -->
		<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="js/bootstrap.js"></script>

		<!-- bootstrap - link cdn -->
	    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> --> 	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">
		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-grid.css" rel="stylesheet">

		<script>
			$(document).ready(function(){
                

                function carrega_champions(){
                    var xhr = new XMLHttpRequest();   
                    xhr.open("GET", "http://localhost:8080/api");
                    
                    xhr.onload = function(){
                        if(xhr.status === 200){
                            var data = $.parseJSON(xhr.responseText);
                            for(i = 0; i < data.length; i++){
                                $('#container_champions').append(
                                    '<div class="card championID" id="'+ data[i]._id +'">' + 
                                        '<div class="meta_champion">' +
                                            '<img class="card-img-top" src="http://localhost:8080/uploads/' + data[i].url_imagem + '"/>'+                            
                                            '<div class="panel-heading">'+
                                                '<h5>&nbsp;' +  data[i].name + '</h5>' +
                                            '</div>' + 
                                        '</div>' + 
                                        '<div class="card-body form-row">' + 
                                            '<div class="mb-1">' +
                                                '<label class="col-6">Damage:</label>' + 
                                                '<input style="" type="number" class="col-6" value="'+ data[i].damage + '">' +
                                            '<div class="mb-1">' +
                                                '<label class="col-6">defence: </label>'  + 
                                                '<input style="" type="number" class="col-6" value="'+ data[i].defence + '">'+
                                            '<div class="mb-1">' +
                                                '<label class="col-6">Hp: </label>'  +  
                                                '<input style="" type="number" class="col-6" value="'+ data[i].hp + '">'+
                                            '<div class="ml-1">' + 
                                                '<a href="#" class="btn btn-outline-success col-6" id="btn-alterar">Salvar</a>'+
                                                '<a href="#" class="btn btn-outline-danger col-6 btn-deletar" value="'+ data[i]._id +'" id="'+ data[i]._id +'">Deletar</a>'+
                                        '</div>'+                                
                                    '</div>' 
                                )
                            }
                        }
                    }
                    
                    xhr.send();
                }
                
                carrega_champions();
                
                $(document).on('click','.btn-deletar', function(event){
                    var $char  =  document.getElementById(this.id);
                    
                    var championID = $char.id;
            
                    // criar um xmlhttprequest
                    var xhr = new XMLHttpRequest();
                    
                    // fazer o envio do nosso request
                    xhr.open("delete", "http://localhost:8080/api/"+championID);
                    
                    // verificar as mudanças de estado
                    xhr.onload = function(){
                       if(xhr.status === 200 ) {
                           alert("Campeão Removido com sucesso");
                           location.reload()
                       }
                    }
                    xhr.send();
           
                })                
			});
		</script>
	</head>
	<body class="body">
<!-- Nav -->
        <div  class="row mt-2">
          <div class="col-12">
               <nav class="navbar navbar-dark navbar-expand-lg border-style">
                   <a href="#" class="">
                       <img id="logo" src="" alt="" class="">
                   </a>
                   <h5 class="text-light">Game_node</h5>
                   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav1">
                       <span class="navbar-toggler-icon"></span>
                   </button> 
                   <div class="collapse navbar-collapse justify-content-between" id="nav1" >
                       <ul class="navbar-nav">
                          <li class="nav-item">
                              <a href="/home" class="nav-link active">Champions</a>
                          </li>
                          <li class="nav-item">
                              <a href="/cadastro" class="nav-link">Cadastro</a>
                          </li>

                       </ul>
                       <form action="" class="form-inline">
                           <input type="text" class="form-control mr-sm-2 border-style" placeholder="Buscar..."> 
                           <button type="button" class="btn my-2 my-sm-0 btn-outline-danger border-style">
                               buscar
                           </button>
                       </form>
                   </div>
               </nav>
          </div>
        </div>

<!-- listagem de campeões -->        
        <div class="container">
            <div class="card-deck" id="container_champions">
        </div>
	</body>
</html>